body {
  background-color: #d5e1ef;
  font-family: "Kumbh Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.QR-Code-Card {
  background-color: aliceblue;
  max-width: 320px;
  margin: 100px auto;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  font-size: 22px;
  margin-bottom: 10px;
}
