div {
  width: 300px;
  height: 100px;
  padding: 50px;
  display: block;
  box-sizing: border-box;
}

body {
  background-image: url("favicon-32x32.pgn");
  background-color: rgb(141, 187, 222);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: block;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

.QR-Code {
  text-align: center;
  margin-bottom: 20px;
}

.QR-Code img {
  width: 200px; /* Adjust as needed */
}

.text {
  border: 2px solid #ffffff;
  padding: 30px;
}
